$base-color: #ffffff;
$text-color: #999;
$red-color: rgba(242, 100, 37, 1);
$dark-red-color: #AB463A;
$dark : #251614;
$green-color : #27AE61;
$orange:rgba(242, 100, 37, 1);
$super-orange: rgba(247, 147, 32, 1);
$reded:#f66152;