<div>
	    <div class="letter_m">
		    <div class="brick brick_m_top_left"></div>
		   	<div class="brick brick_m_left_bottom"></div>
		    <div class="brick brick_m_top_right"></div>
		    <div class="brick brick_m_center_bottom"></div>
		    <div class="brick brick_m_right_bottom"></div>
	    </div>
	    <div class="letter_w">
	      	<div class="brick brick_w_center_center"></div>
	    	<div class="brick brick_w_bottom_center"></div>
	        <div class="brick brick_w_top_left"></div>
	    	<div class="brick brick_w_center_left"></div>
	    	<div class="brick brick_w_bottom_left"></div>
	        <div class="brick brick_w_bottom_center_right"></div>
	        <div class="brick brick_w_top_right"></div>
	    	<div class="brick brick_w_center_right"></div>
	    	<div class="brick brick_w_bottom_right"></div>
	    </div>
	   <div class="border" parallax division="5" rotate="45deg"></div>
</div>