	<div class="page reded">
		<div class="">
			<div class="row">
				<header class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cat-pages-title">
					<div class="title-seprator"></div>
					<h2>
						Über mich
					</h2>
				</header>
			</div>
		</div>
		<div class="container">
			<div class="row square-container center" >
				<div class="square-box">
					<div class="square" >
						<div class="inner" >
							<div class="item" style="background-image:url('images/me.jpg')"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-9 col-md-9 col-sm-9 col-xs-10 timeline">

					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 timeline-left">
						<i class="fa fa-graduation-cap"></i>
						<h3>
							THEORIE
						</h3>
						<ul>
							<li style="margin-top: 80px; opacity: 1;">
								<span class="">
									2006 - 2007
								</span>
								<h4>
									Software Entwickler
								</h4>
								<p>
									Ausbildung zum Software Entwickler mit den Schwerpunkten C#, Java und Datenbankprogrammierung.
								</p>
							</li>
							<li style="opacity: 1;">
								<span class="">
									2006 - 2007
								</span>
								<h4>
									Software Ausbildung
								</h4>
								<p>
									Photoshop . Premiere . After Effects . Typographie . Farbenlehre . HTML . JavaScript . CSS
								</p>
							</li>
							<li style="opacity: 1;">
								<span class="">
									2003 - 2004
								</span>
								<h4>
									Office Manager
								</h4>
								<p>
									Programmierung von Automatisierungen für MS Office
								</p>
							</li>
							<li style="opacity: 1;">
								<span class="">
									2001 - 2002
								</span>
								<h4>
									EDV Technicker
								</h4>
								<p>
									Ausbildung am WIFI Villach
								</p>
							</li>
						</ul>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 timeline-right">
						<i class="fa fa-briefcase"></i>
						<h3>
							PRAXIS
						</h3>
						<ul>
							<li style="opacity: 1;">
								<span class="">
									2014 - aktuell
								</span>
								<h4>
									Selbständigkeit
								</h4>
								<p>
									Ich habe den Sprung gewagt mir meinen eigenen Kundenstamm aufzubauen 
um all meine Kenntnisse in individuelle Projekte einfliesen zu lassen.
								</p>
							</li>
							<li style="opacity: 1;">
								<span class="">
									2011 - 2013
								</span>
								<h4>
									Webdesigner / Premo Werbeargentur
								</h4>
								<p>
									Entwicklung eines firmeneigenes CMS mit stetigen Modulerweiterungen, Kundenwebseiten sowie Facebook Apps.
								</p>
							</li>
							<li style="opacity: 1;">
								<span class="">
									2008 - 2010
								</span>
								<h4>
									Flowmotion
								</h4>
								<p>
									CI.Webdesign.Eventfotografie.Videoclips
								</p>
							</li>
							<li style="opacity: 1;">
								<span class="">
									2007 - 2008
								</span>
								<h4>
									Alicona Imaging
								</h4>
								<p>
									Automatisierte Datenverarbeitung von Messmaschinen.
								</p>
							</li>
						</ul>
					</div>

				</div>
			</div>
			<div class="row subbed">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-md-8 col-md-offset-2">

						<header class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cat-pages-title">
							<div class="title-seprator"></div>
							<h2>
								<i class="fa fa-flash"></i> Skills
							</h2>
						</header>
						<ul class="progress-list">
							<li>
								<div class="col-md-6">
									Photoshop / Illustrator
								</div>
								<div class="progress col-md-6">
								  <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
								    <span class="sr-only">95%</span>
								  </div>
								</div>
							</li>
							<li>
								<div class="col-md-6">
									Premiere / After Effects
								</div>
								<div class="progress col-md-6">
								  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
								    <span class="sr-only">80%</span>
								  </div>
								</div>
							</li>
							<li>
								<div class="col-md-6">
									HTML5 / CSS3
								</div>
								<div class="progress col-md-6">
								  <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
								    <span class="sr-only">95%</span>
								  </div>
								</div>
							</li>
							<li>
								<div class="col-md-6">
									jQuery
								</div>
								<div class="progress col-md-6">
								  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
								    <span class="sr-only">90%</span>
								  </div>
								</div>
							</li>
							<li>
								<div class="col-md-6">
									AngularJs
								</div>
								<div class="progress col-md-6">
								  <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
								    <span class="sr-only">75%</span>
								  </div>
								</div>
							</li>
							<li>
								<div class="col-md-6">
									PHP
								</div>
								<div class="progress col-md-6">
								  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
								    <span class="sr-only">90%</span>
								  </div>
								</div>
							</li>
							<li>
								<div class="col-md-6">
									SQL
								</div>
								<div class="progress col-md-6">
								  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
								    <span class="sr-only">80%</span>
								  </div>
								</div>
							</li>
						</ul>

					</div>
				</div>
			</div>
			<div class="row subbed">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-md-8 col-md-offset-2">
						<header class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cat-pages-title">
							<div class="title-seprator"></div>
							<h2>
								<i class="fa fa-language"></i> Sprachen
							</h2>
						</header>
						<ul class="progress-list">
							<li>
								<div class="col-md-6">
									Deutsch
								</div>
								<div class="progress col-md-6">
								  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
								    <span class="sr-only">100%</span>
								  </div>
								</div>
							</li>
							<li>
								<div class="col-md-6">
									Englisch
								</div>
								<div class="progress col-md-6">
								  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
								    <span class="sr-only">80%</span>
								  </div>
								</div>
							</li>
	
						</ul>

					</div>
				</div>
			</div>
			<div class="row center" style="padding:2em;margin-bottom:3em;margin-top:1em">
				<a target="_blank" download href="http://www.manfredwalder.at/Lebenslauf_manfred_walder.pdf"><button class="btn btn-info">Lebenslauf herunterladen</button></a>
			</div>	
		</div>
	</div>
</div>
<div class="close" ng-click="goHome()">&times;</div>