	<div class="page">
		<div class="row">
				<header class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cat-pages-title">
					<div class="title-seprator"></div>
					<h2>
						Kontakt
					</h2>
				</header>
		
		</div>
		<div class="container">
			<div class="col-md-9 margin-center">
				<div>
					<map center="Franz Jonas Strasse 36a, 9500 Villach"  styles="{{styles}}" style="box-shadow:0px 0px 10px rgba(0,0,0,0.2);height:300px;">
					  <marker
					      position="Franz Jonas Strasse 36a, 9500 Villach"
					      title="Manfred Walder - Hauptquartier"
					      animation="Animation.DROP"
					      draggable="false"
					      visible="true"
							icon="http://www.manfredwalder.at/images/marker.png"
					      ></marker>
					</map>
				</div>
				<div class="col-md-6 col-md-offset-4">
					<ul class="inline-list">
						<li>
							<i class="fa fa-home"></i>
							<p>Franz-Jonas-Str. 36a, 9500 Villach</p>
						</li>
						<li>
							<a href="tel:+436509869803">
								<i class="fa fa-phone"></i>
								<p>+43 (0)650 / 98 6 98 03</p>
							</a>
						</li>
						<li>
							<a href="mailto:office@manfredwalder.at">
								<i class="fa fa-envelope"></i>
								<p>office@manfredwalder.at</p>
							</a>
						</li>
					</ul>	
				</div>
				<div class="col-md-6">
					<p>&nbsp;</p>
					<div class="center">
					<div class="title-seprator"></div>
					<h4 class="underlined">Social</h4>
					</div>
				<ul class="inline-list social">
						<li> 
							<a href="https://www.facebook.com/manfred.walder" target="_blank">
								<i class="fa fa-facebook"></i>
			
							</a>
						</li>
						<li> 
							<a href="https://www.google.com/+ManfredwalderAt" target="_blank">
								<i class="fa fa-google-plus"></i>
				
							</a>
						</li>
						<li> 
							<a href="https://twitter.com/WalderManfred" target="_blank">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
				
					</ul>	
				</div>
				<div class="col-md-6">
				<p>&nbsp;</p>
					<div class="center">
					<div class="title-seprator"></div>
					<h4 class="underlined">Partner</h4>
					</div>
					<p class="center"><a href="http://www.zbsp.at"><img src="images/zbsp.png" alt="Zum Beispiel:Gestaltung" /></a></p>
				</div>
			</div>
		</div>
	</div>

	<div class="close" ng-click="goHome()">&times;</div>