	<div class="page reded">
		<div class="">
			<div class="row">
				<header class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cat-pages-title">
					<div class="title-seprator"></div>
					<h2>
						Services
					</h2>
				</header>
			</div>
		</div>
		<div class="grid">
		<div class="col-md-12">
		<div class="col-md-12 iconbox">
			<ul masonry>
				<li class="col-md-6 masonry-brick" style="opacity: 1;">
					<i class="fa fa-bars"></i>
					<h3>
						Responsive Design
					</h3>
					<p>
						25% aller Internetbenutzer verwenden zum surfen ausschließliche mobile Geräte um Webseiten zu betrachen. Um die Darstellung am Desktop, Smartphones und Tablets gleichermaßen benutzerfreundlich und übersichtlich zu gestalten, ist Responsive-Design eine Grundvorraussetzung aller unserer Webprojekte.
					</p>
				</li>
				<li class="col-md-6  masonry-brick" style="opacity: 1;">
					<i class="fa fa-pencil"></i>
					<h3>
						Content Management
					</h3>
					<p>
						Verwalten von Inhalten leicht gemacht. Die einfache Bedienung Ihrer Webseite ist uns wichtig. Das spart Zeit, Nerven und auch Geld. Je nach Ihren Anforderungen kommen bei uns unterschiedlichste Systeme zum Einsatz. Auch eine für Sie massgeschneiderte, eigens programmierte Wartung ist auf Wunsch möglich.
					</p>
				</li>
				<li  class="col-md-6  masonry-brick" style="opacity: 1;">
					<i class="fa fa-code"></i>
					<h3>
						Apps
					</h3>
					<p>
						Ob für den mobilen Bereich, oder Social Media. Wir erstellen für Sie Software, welche für allen gängigen Plattformen zur Verfügung stehen. Als App für Android oder iOS, Windows Phone oder Blackberry. Sowie Applikationen für Facebook oder direkt für Ihren Webauftritt.
					</p>
				</li>
				<li class="col-md-6  masonry-brick" style="opacity: 1;">
					<i class="fa fa-recycle"></i>
					<h3>
						Redesign
					</h3>
					<p>
						Ihre Webseite benötigt einen neuen Look? Die Bedienung Ihrer Inhalte ist einfach zu Umständlich? Wir befördern Ihre Webseite in die Gegenwart und verhelfen Ihnen zu mehr Effizienz. Alle Inhalte die Sie behalten möchten, werden natürlich mitgenommen.
					</p>
				</li>
				<li  class="col-md-6  masonry-brick" style="opacity: 1;">
					<i class="fa fa-shopping-cart"></i>
					<h3>
						Onlineshops
					</h3>
					<p>
						Sie wollen Ihre Produkte online verkaufen? Wir erstellen den passenden Shop für Sie. Für die eigens erstellten Kunststücke oder auch den umfangreichen Handel, finden Sie bei uns Shops von Groß bis Klein.
					</p>
				</li>
				<li class="col-md-6  masonry-brick" style="opacity: 1;">
					<i class="fa fa-paint-brush"></i>
					<h3>
						Corporate Identity
					</h3>
					<p>
						Wir gestalten Ihren optischen Firmenauftritt. Firmenlogo, Visitenkarten, Broschüren, Briefpapier und natürlich auch Ihre Webseite. Alles erscheint im gleichen Licht und ergibt nach Außen hin eine Einheit.
					</p>
				</li>
						<!--<li style="opacity: 1;">
							<i class="fa fa-wrench"></i>
							<h3>
								Videoproduktion
							</h3>
							<p>
								
							</p>
						</li>-->
					</ul>
				</div>
			</div>
</div>
		</div>
		</div>

		<div class="close" ng-click="goHome()">&times;</div>